<div class="card mb-3" style="max-width: 1000px;">
  <div class="row g-0">
    <div class="col-md-4">
      <% if @character.image.attached? %>
        <div class="text-center">
          <%= image_tag(@character.image, style:"width:100px;") %>
        </div>
      <% end %>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h5 class="card-title"><%= @character.name %></h5>
        <p class="card-text"><%= @character.description %></p>
      </div>
    </div>
  </div>
</div>

<%= link_to 'Edit', edit_anime_character_path(@character)%>