<p style="color: green"><%= notice %></p>

<h1>Animes</h1>

<div id="animes">
  <% @animes.each do |anime| %>
    <%= render anime %>
    <p>
      <%= link_to "Show this anime", anime %>
    </p>
  <% end %>
</div>

<%= link_to "New anime", new_anime_path %>
